[Unit]
Description=Udev Block Notification
ConditionUser=!@system

[Service]
Type=notify
ExecStart=/usr/bin/udev-block-notify

[Install]
WantedBy=default.target
